<mat-toolbar color="primary">
  <!-- <button mat-button routerLink="/dashboard/inicio"> -->
  <h1>{{ getHealthHomeName() }}</h1>
  <!-- </button> -->
  <span class="example-spacer"></span>

  <button mat-button routerLink="tasks">Tareas</button>

  <button mat-button routerLink="patients">Pacientes</button>

  <span class="example-spacer"></span>

  <h1>Sesión: {{ userName }}</h1>
  <button
    mat-icon-button
    class="primary"
    style="margin-left: 16px"
    routerLink=""
  >
    <mat-icon (click)="logout()">logout</mat-icon>
  </button>
</mat-toolbar>
