<div class="content">
  <div class="row">
    <h1>Pacientes</h1>

    <button
      mat-fab
      color="primary"
      aria-label="Crear paciente"
      (click)="createPatient()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="mensaje" *ngIf="pacientes.length === 0">
    <h3>No existen pacientes.</h3>
  </div>

  <table
    *ngIf="pacientes.length > 0"
    mat-table
    [dataSource]="pacientes"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef>Documento</th>
      <td mat-cell *matCellDef="let element">{{ element.document }}</td>
    </ng-container>

    <ng-container matColumnDef="medicoCabecera">
      <th mat-header-cell *matHeaderCellDef>Médico cabecera</th>
      <td mat-cell *matCellDef="let element">{{ element.gpDoctor }}</td>
    </ng-container>

    <ng-container matColumnDef="patologias">
      <th mat-header-cell *matHeaderCellDef>Patologias</th>
      <td mat-cell *matCellDef="let element">
        {{ element.pathologiesList.join(", ") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cuidados">
      <th mat-header-cell *matHeaderCellDef>Cuidados</th>
      <td mat-cell *matCellDef="let element">
        {{ element.caresAndComments }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contactos">
      <th mat-header-cell *matHeaderCellDef>Contactos</th>
      <td mat-cell *matCellDef="let element">{{ element.contacts.length }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          #element._id
          mat-icon-button
          [attr.data-message-id]="element._id"
          (click)="deletePatient(element.document)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
